<div class="messages">
  <div id="message_1" class="message">How are you?</div>
  <div id="message_2" class="message">I'm fine, thank you. You?</div>
  <div id="message_3" class="message">Great! I love coding</div>
</div>

<%= message.body %>